@import 'tailwindcss';

@font-face {
	font-family: 'Outfit';
	src:
		local('/fonts/Outfit/static/Outfit-Regular.ttf'),
		url('/fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Inter';
	src:
		local('/fonts/Inter/static/Inter-Regular.ttf'),
		url('/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'ZeroG';
	src:
		local('/fonts/ZeroG/Zero-G Regular.otf'),
		url('/fonts/ZeroG/Zero-G Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Audiowide';
	src:
		local('/fonts/Audiowide/Audiowide-Regular.ttf'),
		url('/fonts/Audiowide/Audiowide-Regular.ttf') format('truetype');
}

.ease {
	transition: all 0.4s;
	transition-timing-function: ease-in-out;
}

/* Base styles for intro animations */
.intro-x,
.-intro-x,
.intro-y,
.-intro-y {
	opacity: 0;
	position: relative;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

/* Animation keyframes */
@keyframes intro-x-animation {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes intro-y-animation {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Intro-x and -intro-x animations with staggered delays */
.intro-x:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateX(50px);
	animation-name: intro-x-animation;
}

.-intro-x:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateX(-50px);
	animation-name: intro-x-animation;
}

/* Intro-y and -intro-y animations with staggered delays */
.intro-y:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateY(50px);
	animation-name: intro-y-animation;
}

.-intro-y:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateY(-50px);
	animation-name: intro-y-animation;
}

/* Staggered delays */
.intro-x:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}
.-intro-x:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}
.intro-y:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}
.-intro-y:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}

/* Tailwind CSS v4.0 config */

@layer utilities {
	.imageHolder {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.imageHolder img {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		border: none;
	}

	.scroll_style::-webkit-scrollbar {
		width: 0;
		height: 3px;
	}
	.scroll_style::-webkit-scrollbar-thumb {
		background-color: rgba(166, 171, 183, 0.7);
		border-radius: 40px;
	}
	.scroll_style::-webkit-scrollbar-track {
		background-color: transparent;
	}

	.Y_scroll_style::-webkit-scrollbar {
		width: 3px;
	}
	.Y_scroll_style::-webkit-scrollbar-thumb {
		background-color: rgba(166, 171, 183, 0.7);
		border-radius: 40px;
	}
	.Y_scroll_style::-webkit-scrollbar-track {
		background-color: transparent;
	}

	/* Base mask */
	.mask_shape {
		--r: 25px; /* default radius */
		--s: 40px; /* default inner curve */

		border-radius: var(--r);

		--_m: /calc(2 * var(--r)) calc(2 * var(--r))
			radial-gradient(#000 70%, transparent 72%) no-repeat;
	}

	/* Top Right */
	.mask_tr {
		mask:
			right calc(var(--s) + var(--r)) top var(--_m),
			right calc(var(--s) + var(--r)) var(--_m),
			radial-gradient(var(--s) at 100% 0, transparent 99%, #000 100%)
				calc(-1 * var(--r)) var(--r) no-repeat,
			conic-gradient(
				at calc(100% - var(--s) - 2 * var(--r)) calc(var(--s) + 2 * var(--r)),
				transparent 25%,
				#000 0
			);
	}

	/* Top Left */
	.mask_tl {
		mask:
			calc(var(--s) + var(--r)) 0 var(--_m),
			0 calc(var(--s) + var(--r)) var(--_m),
			radial-gradient(var(--s) at 0 0, transparent 99%, #000 100%) var(--r)
				var(--r) no-repeat,
			conic-gradient(
				at calc(var(--s) + 2 * var(--r)) calc(var(--s) + 2 * var(--r)),
				#000 75%,
				transparent 0
			);
	}

	/* Bottom Left */
	.mask_bl {
		mask:
			calc(var(--s) + var(--r)) bottom var(--_m),
			bottom calc(var(--s) + var(--r)) left var(--_m),
			radial-gradient(var(--s) at 0 100%, transparent 99%, #000 100%) var(--r)
				calc(-1 * var(--r)) no-repeat,
			conic-gradient(
				from 180deg at calc(var(--s) + 2 * var(--r))
					calc(100% - var(--s) - 2 * var(--r)),
				transparent 25%,
				#000 0
			);
	}

	/* Bottom Right */
	.mask_br {
		mask:
			right bottom calc(var(--s) + var(--r)) var(--_m),
			right calc(var(--s) + var(--r)) bottom var(--_m),
			radial-gradient(var(--s) at 100% 100%, transparent 99%, #000 100%)
				calc(-1 * var(--r)) calc(-1 * var(--r)) no-repeat,
			conic-gradient(
				from 90deg at calc(100% - var(--s) - 2 * var(--r))
					calc(100% - var(--s) - 2 * var(--r)),
				transparent 25%,
				#000 0
			);
	}

	/* Safari support */
	/* .mask_shape {
		-webkit-mask: inherit;
	} */
}
