@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Outfit';
	src:
		local('../public/fonts/Outfit/static/Outfit-Regular.ttf'),
		url('../public/fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Hanken Grotesk';
	src:
		local('../public/fonts/Hanken_Grotesk/static/HankenGrotesk-Regular.ttf'),
		url('../public/fonts/Hanken_Grotesk/static/HankenGrotesk-Regular.ttf')
			format('truetype');
}

@font-face {
	font-family: 'Inter';
	src:
		local('../public/fonts/Inter/static/Inter-Regular.ttf'),
		url('../public/fonts/Inter/static/Inter-Regular.ttf') format('truetype');
}

body {
	font-family: Outfit;
	margin: 0px;
	overflow-x: hidden;
	overscroll-behavior-y: none;
	display: flex;
	justify-content: center;
	color: #272f4e73;
}

.containerBody {
	/* max-width: 1500px; */
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
}

div {
	box-sizing: border-box;
}

.ease {
	transition: all 0.4s;
	transition-timing-function: ease-in-out;
}

/* Base styles for intro animations */
.intro-x,
.-intro-x,
.intro-y,
.-intro-y {
	opacity: 0;
	position: relative;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

/* Animation keyframes */
@keyframes intro-x-animation {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes intro-y-animation {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Intro-x and -intro-x animations with staggered delays */
.intro-x:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateX(50px);
	animation-name: intro-x-animation;
}

.-intro-x:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateX(-50px);
	animation-name: intro-x-animation;
}

/* Intro-y and -intro-y animations with staggered delays */
.intro-y:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateY(50px);
	animation-name: intro-y-animation;
}

.-intro-y:nth-child(n) {
	z-index: calc(50 - (n - 1));
	transform: translateY(-50px);
	animation-name: intro-y-animation;
}

/* Staggered delays */
.intro-x:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}
.-intro-x:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}
.intro-y:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}
.-intro-y:nth-child(n + 1) {
	animation-delay: calc((n - 1) * 0.1s);
}
